name: Build source code and test it

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - renovate/**
  pull_request:
    branches: [main]
  workflow_call: # Allow this workflow to be called by other workflows

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Build code and test"
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        id: install_code
        run: bun i
      - name: Lint
        id: lint_code
        run: bun run lint
      - name: Type check
        id: typecheck_code
        run: bun run typecheck
      - name: Build
        id: build_code
        run: bun run build
      - name: Test
        id: test_code
        run: bun run test --run
